* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* resets sizing */

body {
    background-color: #d9dcd6;
}
/* makes page white */

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* makes blue boundary box for header and makes text white */

.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* sets box for on-page links in header */

.header h1 .seo {
    color: #d9dcd6;
}
/* changes "seo" color to be different than horiseon */

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* aligns text for on-page links in header */

.header div ul {
    list-style-type: none;
}
/* removes bullet point for list items */

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* aligns on-page links in header next to eachother */

a {
    color: #ffffff;
    text-decoration: none;
}
/* changes on-page links to be white instead of blue/purple */

p {
    font-size: 16px;
}
/* sets all pargraph tags to have a font size of x(16) */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* defines placement for and places header image */

.float-left {
    float: left;
    margin-right: 25px;
}
/* defines left float box boundary for 3 main content boxes */

.float-right {
    float: right;
    margin-left: 25px;
}
/* defines right float box boundary for 3 main content boxes */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* defines size and spacing of 3 main content boxes */

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* define size and spacing of right side banner box */

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* spaces and colors text for top of right banner */

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* spaces and colors text for middle of right banner */

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* spaces and colors text for bottom of right banner */

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* spaces and centers header text for top of right banner */

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* spaces and centers header text for middle of right banner */

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* spaces and centers header text for bottom of right banner */

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* places top image of right banner corerctly */

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* places middle image of right banner corerctly */

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* places bottom image of right banner corerctly */

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* defines box size and color and text font, color, and placement for top content box */

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* defines box size and color and text font, color, and placement for middle content box */


.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* defines box size and color and text font, color, and placement for bottom content box */


.search-engine-optimization img {
    max-height: 200px;
}
/* sets image size for top content box */

.online-reputation-management img {
    max-height: 200px;
}
/* sets image size for middle content box */

.social-media-marketing img {
    max-height: 200px;
}
/* sets image size for bottom content box */


.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* spaces and sizes header text for top content box */

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* spaces and sizes header text for middle content box */


.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* spaces and sizes header text for bottom content box */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* spaces, aligns, and sets font for footer */

.footer h2 {
    font-size: 20px;
}
/* sets font size for footer */
